<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>ContextHUD</string>
    <key>CFBundleExecutable</key>
    <string>ContextHUDWidget</string>
    <key>CFBundleIdentifier</key>
    <string>com.htahaozlu.contexthud.widget</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ContextHUDWidget</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>DTPlatformName</key>
    <string>macosx</string>
    <key>DTSDKName</key>
    <string>macosx14.0</string>
    <key>DTPlatformVersion</key>
    <string>14.0</string>
    <key>DTPlatformBuild</key>
    <string>23A344</string>
    <key>DTSDKBuild</key>
    <string>23A344</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTXcode</key>
    <string>1500</string>
    <key>DTXcodeBuild</key>
    <string>15A240d</string>
    <key>BuildMachineOSBuild</key>
    <string>23A344</string>
    <key>TeamId</key>
    <string>DQJT5BCZCM</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.widgetkit-extension</string>
    </dict>
</dict>
</plist>
